:root {
  --text-black: #212121;
  --text-grey: #757575;
  --text-blue: #2196f3;
  --text-white: #ffffff;
  --bg-white: #ffffff;
  --bg-grey: #f5f4fa;
  --bg-dark-grey: #2f303a;
  --bg-blue: #2196f3;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  color: #757575;
}

ul {
  list-style: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  color: #000000;
  text-decoration: none;
}

.navigation li a {
  text-decoration: none;
  font-weight: 500;
  color: var(--text-black);
}

.navigation li a:focus,
.navigation li a:hover {
  color: var(--text-blue);
}

.header-address li a {
  text-decoration: none;
  font-weight: 500;
  color: var(--text-grey);
}

.header-address li a:focus,
.header-address li a:hover {
  color: var(--text-blue);
}

.sec-1-index {
  background-color: var(--bg-dark-grey);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3636;
  text-align: center;
  color: var(--text-white);
}

.button-sec-1-index {
  background-color: var(--bg-blue);
  color: var(--text-white);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
}

.h4-sec-2-index {
  color: var(--text-black);
  font-weight: 700;
}

.h2-sec-3-index {
  color: var(--text-black);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1719;
}

.sec-4-index {
  background-color: var(--bg-grey);
}

.h2-sec-4-index {
  color: var(--text-black);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1719;
}

.h3-sec-4-index {
  color: var(--text-black);
  font-weight: 500;
  line-height: 1.1719;
}

.p-sec-4-index {
  font-size: 16px;
  line-height: 1.1719;
}

.footer {
  background-color: var(--bg-dark-grey);
}

.logo2 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1719;
  color: #ffffff;
  text-decoration: none;
}

.address {
  font-style: normal;
  color: var(--text-white);
  text-decoration: none;
}

.address-address:focus,
.address-address:hover,
.address-mail:focus,
.address-mail:hover,
.address-tel:focus,
.address-tel:hover {
  color: var(--text-blue);
}

.address-mail,
.address-tel {
  text-decoration: none;
  color: rgba(255, 255, 255, 60%);
}

.ul-sec-1-portfolio li button {
  color: var(--text-black);
  background-color: var(--bg-grey);
  border: none;
  font-size: 16px;
  line-height: 1.625;
  font-weight: 500;
}

.ul-sec-1-portfolio li button:focus,
.ul-sec-1-portfolio li button:hover {
  color: var(--text-white);
  background-color: var(--bg-blue);
  border: none;
  font-size: 16px;
  line-height: 1.625;
  font-weight: 500;
}

.figure-sec2-portfolio {
  border: 1px solid #eeeeee;
}

.h3-sec-2-portfolio {
  color: var(--text-black);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

.p-sec-2-portfolio {
  font-size: 16px;
  line-height: 1.875;
}
